<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>show bounty</title>
</head>

<body class="bg-dark text-light">
    <input type="hidden" name="id" value="{{bounty.title}}">
    <header class="overlay txt background border-bottom border-success p-4">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="">
                <img src="{{url_for('static',filename='images/jade_rab.jpg')}}" alt="jade rabbit" class="jade">
            </div>
            <div class="">
                <form class="d-flex" role="search" action="/searched" method="POST">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched" id="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="bttn">
                <a class="btn btn-outline-danger mx-2" href="/logout">Logout</a>
                <a class="btn btn-outline-info" href="/bounties">Home</a>
            </div>
        </div>
    </header>

    <video playsinline autoplay muted loop id="myVideo">
        <source src="{{url_for('static',filename='images/pressmaster.mp4')}}" type="video/mp4">
    </video>

    <div class="overlay txt card background border border-success container m-auto mt-5" style="width: 25rem;">
        <div class="card-body text-start">
            <h2 class="text-center text-success">{{bounty.title.upper()}}</h2>
            <p>Owner: {{bounty.user}}</p>
            <p class="card-text text-start">{{bounty.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">{{bounty.status}}</p>
                <div class="form-group stars" value="3" name="priority">
                    {% for n in range(bounty.priority) %}
                        <span class="star rated" value="1"></span>
                    {% endfor %}
                    {% for i in range(5 - bounty.priority) %}
                        <span class="star" value="1"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>